<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("header") %>

    <title>PageNotFound | Rewriter</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="https://cdn.pixabay.com/photo/2013/07/13/12/52/hand-160538_1280.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Rewriter
        </a>
      </div>
    </nav>
    <div class="container mt-5">
      <h3>Error - 404</h3>
      <h1>Page Not Found</h1>
      <a href="/" class="btn btn-primary mt-3">Back</a>
    </div>
  </body>
</html>
